<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>uNaDa Proxy Web Application</display-name>
	
	<listener>
		<listener-class>eu.smartenit.unada.ctm.main.init.UnadaWebAppListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>Proxy Servlet</servlet-name>
		<servlet-class>eu.smartenit.unada.ctm.proxy.init.UNaDaProxyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>Proxy Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
